@import "./mixins";
@import "./variables";

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: $font;
    font-size: $font-size;
}


.dark #preloader {
    background-color: #232323;
  }
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f7f7f7;
    z-index: 999999;
  }
  
  .preloader {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0px;
    text-align: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
  }
  
  .preloader span {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #FF723A;
    -webkit-animation: preloader 1.3s linear infinite;
    animation: preloader 1.3s linear infinite;
  }
  
  .preloader span:last-child {
    animation-delay: -0.8s;
    -webkit-animation-delay: -0.8s;
  }
  
  @keyframes preloader {
    0% {
      -webkit-transform: scale(0, 0);
              transform: scale(0, 0);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes preloader {
    0% {
      -webkit-transform: scale(0, 0);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1, 1);
      opacity: 0;
    }
  }



body{
    width:100%;
}

body::-webkit-scrollbar {
    width: 0.5rem;
  }
   
  body::-webkit-scrollbar-track {
    background: #e7e7e7;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    border: solid 2px #e7e7e7;
    background-color: darkgrey;
    // outline: 1px solid slategrey;
}

.header{
    height:13vh;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px 30px;
    border-bottom: 2px solid rgba(240, 240, 240, 0.5);
    position:sticky;
    top: 0;
}

a{
    display: block;
    padding: 8px 25px;
    color: $accent;
    text-decoration: none;
}

.nav-bar {
    ul{
    display:flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
        &:hover{
            color: #fff;
        }
        &:hover ul.dropdown{
            display: block; 
        }
    }
    ul.dropdown {
        min-width: 100%;  
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
}
}

.action-btns{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 10px;
}

.action-btn {
  margin-right: 15px;
}

#loginin-btn{
    @include priButton;
}


#signup-btn{
    @include secButton;
}




footer{
    position: relative; 
    height: 85vh;
    width: 100%;
    background-color: $primary;
    color: white;
    // padding: auto 90px;

    .footer-container-up{
        @include flexCenter();
        height:75vh;
        margin: auto 50px;
        

        .footer-widget{
            width: 40%;
        }

        .footer-links{
            width: 60%;
            ul{
                display: flex;
                align-items: flex-start;
                justify-content: space-around;

                li{
                    @include flexCenter;
                    flex-direction: column;

                    ul{
                        @include flexCenter;
                        flex-direction: column;
                    }
                }

            }
        }
    }
    
    .footer-container-down{
        @include flexCenter();
        position: relative;
        height:10vh;

        border-top: 2px solid rgba(240, 240, 240, 0.5);
        margin:0 50px;

    }
}

#scrollUp {
    background: #FF723A;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 15px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
  }
  
  #scrollUp i {
    color: #ffffff;
  }