@import "./mixins";
@import "./variables";

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: $font;
    font-size: $font-size;
}

body{
    width:100%;
}

body::-webkit-scrollbar {
    width: 0.5rem;
  }
   
  body::-webkit-scrollbar-track {
    background: #e7e7e7;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    border: solid 2px #e7e7e7;
    background-color: darkgrey;
    // outline: 1px solid slategrey;
}

.header{
    height:13vh;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px 30px;
    border-bottom: 2px solid rgba(240, 240, 240, 0.5);
    position:sticky;
    top: 0;
}

a{
    display: block;
    padding: 8px 25px;
    color: $accent;
    text-decoration: none;
}

.nav-bar {
    ul{
    display:flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
        &:hover{
            color: #fff;
        }
        &:hover ul.dropdown{
            display: block; 
        }
    }
    ul.dropdown {
        min-width: 100%;  
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
}
}

.action-btns{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 10px;
}

.action-btn {
  margin-right: 15px;
}

#loginin-btn{
    @include priButton;
}


#signup-btn{
    @include secButton;
}




footer{
    position: relative; 
    height: 85vh;
    width: 100%;
    background-color: $primary;
    color: white;

    .footer-container-up{
        @include flexCenter();
        height:75vh;
        // background-color: rgb(165, 102, 20);
        margin: auto 50px;

        .footer-widget{
            width: 40%;
        }

        .footer-links{
            width: 60%;
            ul{
                display: flex;
                align-items: flex-start;
                justify-content: space-around;

                li{
                    @include flexCenter;
                    flex-direction: column;

                    ul{
                        @include flexCenter;
                        flex-direction: column;
                    }
                }

            }
        }
    }
    
    .footer-container-down{
        @include flexCenter();
        position: relative;
        height:10vh;

        border-top: 2px solid rgba(240, 240, 240, 0.5);
        margin:0 50px;

    }
}

