$primary:       #eb400d !default;
$secondary:     #076fd6 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;
$accent:        #333 !default;



// fonts 
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;700&display=swap');
$font: 'Poppins', 'Lato', sans-serif;