@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Lato", sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #e7e7e7;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border: solid 2px #e7e7e7;
  background-color: darkgrey;
}

.header {
  height: 13vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px 30px;
  border-bottom: 2px solid rgba(240, 240, 240, 0.5);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

a {
  display: block;
  padding: 8px 25px;
  color: #333;
  text-decoration: none;
}

.nav-bar ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style: none;
}
.nav-bar ul li {
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: left;
}
.nav-bar ul li:hover {
  color: #fff;
}
.nav-bar ul li:hover ul.dropdown {
  display: block;
}
.nav-bar ul ul.dropdown {
  min-width: 100%;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}

.action-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.action-btn {
  margin-right: 15px;
}

#loginin-btn {
  background-color: transparent;
  color: #FF723A;
  border-radius: 25px;
  border: solid 2px #FF723A;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loginin-btn:hover {
  background: #FF723A;
  color: white;
}

#signup-btn {
  background-color: #FF723A;
  border-radius: 25px;
  border: solid 2px #FF723A;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#signup-btn:hover {
  color: #FF723A;
  background: transparent;
}

footer {
  position: relative;
  height: 85vh;
  width: 100%;
  background-color: #eb400d;
  color: white;
}
footer .footer-container-up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin: auto 50px;
}
footer .footer-container-up .footer-widget {
  width: 40%;
}
footer .footer-container-up .footer-links {
  width: 60%;
}
footer .footer-container-up .footer-links ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
footer .footer-container-up .footer-links ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .footer-container-up .footer-links ul li ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .footer-container-down {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 10vh;
  border-top: 2px solid rgba(240, 240, 240, 0.5);
  margin: 0 50px;
}

.home {
  height: 88vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/home-background.jpg);
  padding: 0 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .home-contain {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .home-contain .home-content h1 {
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 15px;
}
.home .home-contain .home-content p {
  font-size: 1.3rem;
  margin-bottom: 25px;
}
.home .home-contain .home-content .action-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
}
.home .home-contain .home-content #student-btn {
  background-color: transparent;
  color: #FF723A;
  border-radius: 25px;
  border: solid 2px #FF723A;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.home .home-contain .home-content #student-btn:hover {
  background: #FF723A;
  color: white;
}
.home .home-contain .home-content #teacher-btn {
  background-color: #FF723A;
  border-radius: 25px;
  border: solid 2px #FF723A;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.home .home-contain .home-content #teacher-btn:hover {
  color: #FF723A;
  background: transparent;
}
.home .home-image {
  width: 40%;
  height: 100%;
}

.great-deal {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 90px;
}
.great-deal .deal-contain {
  display: flex;
  justify-content: center;
  align-items: center;
}
.great-deal .deal-contain .deal-desp {
  width: 25%;
  padding: 10px;
}
.great-deal .deal-contain .deal-desp h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.great-deal .deal-contain .deal-content {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.great-deal .deal-contain .deal-content .deal-card {
  margin-right: 20px;
  padding: 30px 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 0.2s ease-in-out;
}
.great-deal .deal-contain .deal-content .deal-card .single-item .single-box-icon {
  margin-bottom: 20px;
}
.great-deal .deal-contain .deal-content .deal-card .single-item .sub-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 15px;
}
.great-deal .deal-contain .deal-content .deal-card .single-item p {
  font-size: 1rem;
}
.great-deal .deal-contain .deal-content .deal-card:hover {
  transform: translateY(-5px);
}
.great-deal .deal-contain .deal-content #deal-card-1 {
  background: rgba(143, 102, 255, 0.231372549);
}
.great-deal .deal-contain .deal-content #deal-card-1 .single-box-icon img {
  padding: 20px;
  border-radius: 50%;
  background: #8E66FF;
}
.great-deal .deal-contain .deal-content #deal-card-2 {
  background: rgba(241, 77, 93, 0.3);
}
.great-deal .deal-contain .deal-content #deal-card-2 .single-box-icon img {
  padding: 20px;
  border-radius: 50%;
  background: #F14D5D;
}
.great-deal .deal-contain .deal-content #deal-card-3 {
  background: rgba(255, 114, 58, 0.2274509804);
}
.great-deal .deal-contain .deal-content #deal-card-3 .single-box-icon img {
  padding: 20px;
  border-radius: 50%;
  background: #FF723A;
}

.looking-for {
  height: 150vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 90px;
  background: linear-gradient(rgba(255, 114, 58, 0.05) 0%, rgba(241, 77, 93, 0.03) 100%);
}
.looking-for .looking-for-header {
  width: 100%;
  margin-bottom: 85px;
}
.looking-for .looking-for-header h5 {
  text-align: center !important;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  line-height: 1.1;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
  color: #FF723A;
}
.looking-for .looking-for-header h5::before {
  content: "";
  position: absolute;
  background-color: #FF723A;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.looking-for .looking-for-header h2 {
  font-size: 44px;
  line-height: 1.3;
  position: relative;
}
.looking-for .looking-for-contain {
  width: 100%;
  margin-bottom: 85px;
}
.looking-for .looking-for-contain .looking-for-content {
  flex-wrap: wrap;
}
.looking-for .looking-for-contain .looking-for-content .looking-for-box {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 50px 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.looking-for .looking-for-contain .looking-for-content .looking-for-box .looking-for-box-icon {
  margin-bottom: 25px;
}
.looking-for .looking-for-contain .looking-for-content .looking-for-box h3 {
  font-size: 30px;
  margin-bottom: 25px;
}
.looking-for .looking-for-contain .looking-for-content .looking-for-box p {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #707070;
}
.looking-for .looking-for-contain .looking-for-content .looking-for-box #teacher-join {
  background-color: transparent;
  color: #FF723A;
  border-radius: 25px;
  border: solid 2px #FF723A;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.looking-for .looking-for-contain .looking-for-content .looking-for-box #teacher-join:hover {
  background: #FF723A;
  color: white;
}
.looking-for .looking-for-contain .looking-for-content .looking-for-box #student-join {
  background-color: #FF723A;
  border-radius: 25px;
  border: solid 2px #FF723A;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.looking-for .looking-for-contain .looking-for-content .looking-for-box #student-join:hover {
  color: #FF723A;
  background: transparent;
}/*# sourceMappingURL=style.css.map */